@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    font-size: 16px;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.25rem;
    display: flex;    
}

nav{
    top: 0;
    left: 0.3rem;
    display:flex;
    justify-content: left;
    width: min-content;
    position: sticky;
    background: black;
    z-index: 100;
}

nav a {
    color: mediumaquamarine;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

main{
    top: 0;
    margin: 0 auto;
    padding: 1.25rem;
}

section{
    padding: 1.25rem;
    margin : 0.125remx;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    color: coral;
    font-family: 'Arial Black', sans-serif;
}
 
h2 {
    font-size: 1.875rem;
    margin-bottom: 0.625rem;
    color: blue;
    text-decoration: underline;
}

li {
    margin: 0.625rem 0;
}

#Experience {
    border-radius: 0.625rem;
    display: block;
}

.experience-list {
    text-align: left;
    margin: 0;
    padding: 0;
}

.experience-item {
  border: 0.125rem solid #444;
  padding: 0.75rem;
  border-radius: 0.875rem;
  margin-bottom: 0.625rem;
}

.experience-details {
  display: flex;
  justify-content: space-between;
}

.job-title {
  font-weight: bold;
  text-decoration: underline;
}

.job-desc {
  margin-top: 0.5rem;
}

#Connect ul {
  display: grid;
  grid-template-columns: 8rem 8rem;
  justify-content: center;
  gap: 1.25rem;
  list-style: none;
  padding: 0;
}

#Connect a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

#Connect a:hover {
  text-decoration: underline;
  color: greenyellow;
}

#Skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1.25rem;
  list-style: none;
  padding: 0;
}

/* Responsive Design for Desktop*/
@media screen and (min-width: 64rem) 
{
    body {
        font-size: 1.375rem;
        line-height: 1.6;
    }

    h1 {
        font-size: 3rem;
        letter-spacing: 0.125rem;
    }

    nav a {
        font-size: 1.5rem;
        padding: 0.625rem 1.25rem;
    }

    #Skills ul {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}

/* Responsive Design for Mobile */
@media screen and (max-width: 48rem) 
{
    body {
        font-size: 1.125rem;
        padding: 0.625rem;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .experience-item {
        margin-bottom: 1.25rem;
        border-width: 0.063rem;
        padding: 0.5rem;
    }

    nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #Connect ul {
        grid-template-columns: 7rem 7rem;
        gap: 0.625rem;
    }

    #Skills ul {
        grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
        gap: 0.625rem;
    }
}